/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap'); */

body {
    /* font-family: 'Fira Sans', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    color: #252149;
}

img.header-image {
    max-width: 100%;
}

img.feature-image,
img.feature-list,
img.promo {
    max-width: 100%;
    padding-right: 1em;
    padding-bottom: 2em;
}

.subheading {
    text-transform: none;
}

h2.theme {
    color: #5e90c9;
}

.bg-opacity::before {
    background: #25214999;
}

.bg-1 {
    background-image: url(../images/call-to-action.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.btn-main,
.btn-main:hover,
.btn-main:focus {
    background-color: #5e90c9;
    color: #fff;
}

.btn-main {
    -moz-box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
    -webkit-box-shadow: 0 15px 40px rgba(249, 167, 68, 0.5);
    box-shadow: 0 15px 40px rgb(189, 189, 189);
    background-image: -moz-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
    background-image: -o-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
    background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
}

.testimonials .testimonial-block i {
    color: #5e90c9;
}

.testimonials .testimonial-block .author-details img {
    border-radius: 50%;
    width: 120px;
}

.promo-details {
    background: #d7d8da;
}

ul:not([class]) {
    /* padding: 2em; */
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

ul:not([class]) > li::before {
    content: '\25B8';
    margin-left: -1em;
    position: absolute;
}

ul:not([class]) > li {
    font-size: 18px;
}

h1 + p,
h2 + p,
h3 + p {
    margin: 1em auto 1em auto;
}

img.art {
    max-width: 100%;
}

h1 + h2 {
    margin-top: 0.5em;
}

/* Tabela ----------------------------------- */

table caption {
    text-align: left;
}

table {
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
    max-width: 100%;
    min-width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 18px;
    /* margin: 1em auto; */
}

table th {
    /* background: #c5c5c5; */
    border-bottom: 1px solid #c5c5c5;
}

table td,
table th {
    padding: 0.2em 0.75em 0.2em 0.75em;
}

table td {
    padding-left: 2.2em;
}

table {
    max-width: 100%;
    min-width: 600px;
}

tbody tr td,
tbody tr th {
    width: 25%;
    /* text-align: right; */
}
tbody tr td + td,
tbody tr th + th {
    width: 75%;
    /* text-align: left; */
}

body#programacao,
body#contato {
    background-image: url("../images/r-day-2-logo-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 800px;
    /* background-size: cover; */
}

/* Para o footer ficar colado embaixo da página. */
/* https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
html,
body#programacao,
body#contato {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
  margin-top: auto;
}
