<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>

    <base href={{ .Params.basehref }}>	  

    {{- partial "meta.html" . }}

    {{- partial "stylesheets.html" . }}
  </head>

  <body id="{{ .Params.id }}">

    {{- partial "navbar.html" . }}

    <section class="section">

      <div class="container">

        <div class="row">

          <div class="col-md-12">

            {{ .Content }}

          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->

    </section>

    {{- partial "footer.html" . }}

    {{- partial "scripts.html" . }}

  </body>
</html>
