{{- with .Site.Params.testimonials }}
<section class="testimonials section" id="conferencistas">
  <div class="container">
    <div class="row">
      <div class="heading">
        <h2>{{ .title }}</h2>
      </div>
      {{- range first 3 .blocks }}
      <div class="col-md-4 text-center">
        <div class="testimonial-block">
          <div class="author-details">
            <img class="testimonial" src="{{ .image }}" alt="">
            <h4>{{ .name }}</h4>
            <span>{{ .position }}</span>
            <p>{{ .text | markdownify }}</p>
            <i class="tf-ion-quote"></i>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
    <div class="row mt-100">
    {{- with .button }}
      <div class="col-md-12 text-center">
        <a href="{{ .link }}" class="btn btn-main">{{ .text }}</a>
      </div>
    {{- end }}
    </div>
  </div>
</section>
{{ end }}
